
        <footer class="site-footer" id="section_6">
            <div class="container">
                <div class="row">
               

                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <h5 class="site-footer-title mb-3">JADWAL OPERASIONAL</h5>

                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Senin s/d Jumat, pukul 08.00 – 17.00 WIB</a></li>
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Klinik Fisioterapi Esa Unggul terbuka untuk seluruh mahasiswa, karyawan Esa Unggul, dan juga masyarakat umum.</a></li>

                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-8 col-12 mx-auto">
                        <h5 class="site-footer-title mb-3">Informasi Kontak</h5>

                        <p class="text-white d-flex mb-2">
                            <i class="bi-telephone me-2"></i>

                            <a href="tel: 08128274510" class="site-footer-link">
                                08128274510
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <i class="bi-envelope me-2"></i>

                            <a href="mailto:info@yourgmail.com" class="site-footer-link">
                                jerrymaratis178@gmail.com
                            </a>
                        </p>

                        <p class="text-white d-flex mt-3">
                            <i class="bi-geo-alt me-2"></i>
                       
                        Jl. Arjuna Utara No.9, Duri Kepa, Kec. Kb. Jeruk, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11510,
                        Gedung Utama Universitas Esa Unggul, Lt.1
                        </p>

                        <a href="https://www.google.com/maps/place/Universitas+Esa+Unggul+Kampus+Jakarta/@-6.1860191,106.7763882,17z/data=!3m1!4b1!4m12!1m5!8m4!1e2!2s107297371258861633849!3m1!1e1!3m5!1s0x2e69f6fa7ad2e539:0xf4631ccaa3f56416!8m2!3d-6.1860244!4d106.7789631!16s%2Fg%2F1223q9v6?hl=id&entry=ttu" class="custom-btn btn mt-3">Google Map</a>
                    </div>
                </div>
            </div>

            <div class="site-footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-7 col-12">
                            <p class="copyright-text mb-0">Copyright © 2023 <a href="#">Klinik Esa Unggul</a></p>
                        </div>
                        
                  
                        
                    </div>
                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-mz6fR7juj1YUnYT0TKPzFq6bqf/rWk5x7Ff5f5F5g5E6F5n5E6E6E6E6E6t4N5t4N5t4N5"
            crossorigin="anonymous"></script>
        <script>
            // Enable the carousel and set it to slide automatically
            $(document).ready(function () {
                $('#hero-slide').carousel({
                    interval: 3000 // Change slide every 3 seconds (adjust as needed)
                });
            });
        </script>
        <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/jquery.sticky.js')}}"></script>
        <script src="{{url_for('static',filename='js/click-scroll.js')}}"></script>
        <script src="{{url_for('static',filename='js/counter.js')}}"></script>
        <script src="{{url_for('static',filename='js/custom.js')}}"></script>

    </body>
</html>